{% load static %}
<footer>
    <div class="footer">
        <div class="container">
            <div class="partners">
                <a href="#"><img src="{% static 'pages/img/manas.png' %}"/></a>
                <a href="#"><img src="{% static 'pages/img/ataturk.png' %}"/></a>
                <a href="#"><img src="{% static 'pages/img/mersin.png' %}"/></a>
                <a href="#"><img src="{% static 'pages/img/im.png' %}"/></a>
                <a href="#"><img src="{% static 'pages/img/kiev.png' %}"/></a>
            </div>
            <p>Kyrgyz-Turkish Manas University</p>
        </div>
    </div>
</footer>