{% load static %}
<link rel="stylesheet" href="{% static 'pages/css/home.css' %}"/>

<header>
    <div class="header">
        <div class="container">
            <a class="nav-logo" href="{% url 'home_page' %}">
                <div class="logo">HOME</div>
            </a>
            <div class="social-media">
                <a href="{% url 'sendform_page' %}" class="nav-link"><i class="fas fa-envelope"></i></a>
                <a href="https://wa.me/+996706232389" class="nav-link" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="tel:+996 (555) 16 15 57" class="nav-link"><i class="fas fa-phone-alt"></i></a>
                {% if request.user.is_authenticated %}
                <a style="text-decoration:none" class="nav-link" href="{% url 'user_room' %}"><i class="fas fa-address-card"></i></a>
                {% else %}
                <a class="nav-link" href="{% url 'login_page' %}"><i class="fas fa-user"></i></a>
                {% endif %}
            </div>
        </div>
    </div>

</header>