{% load static %}
<html lang="en">
<head>
    {% include 'pages/includes/links.html' %}

    <title>Conference Site</title>
</head>
{% include 'pages/includes/menubar.html' %}
{% include 'pages/includes/header.html' %}
<main>
    <div class="main">
        <div class="container">

            <div class="fields">
                <h2>Kyrgyzstan</h2>
                <div class="kyrgyz-info">
                    <p>Kyrgyzstan, officially the Kyrgyz Republic, is a country in Central Asia. Kyrgyzstan is a
                        landlocked country with mountainous terrain. It is bordered by Kazakhstan to the north,
                        Uzbekistan to the west and southwest, Tajikistan to the southwest and China to the east. Its
                        capital and largest city is Bishkek.</p>
                    <p>Kyrgyzstan's recorded history spans over 2,000 years, encompassing a variety of cultures and
                        empires. Although geographically isolated by its highly mountainous terrain, which has helped
                        preserve its ancient culture, Kyrgyzstan has been at the crossroads of several great
                        civilizations as part of the Silk Road and other commercial and cultural routes. </p>
                    <div class="slider">
                        <div class="swiper-container mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="{% static 'pages/img/kakshaltoo2.jpeg'%}"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'pages/img/kakshaaltoo.png'%}"/>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <br>
                    <p>The highest peaks are in the Kakshaal-Too range, forming the Chinese border. Peak Jengish
                        Chokusu, at 7,439 m (24,406 ft), is the highest point and is considered by geologists to be the
                        northernmost peak over 7,000 m (22,966 ft) in the world. </p>
                    <br>
                    <div class="slider">
                        <div class="swiper-container mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="{% static 'pages/img/jenish2.jpg'%}"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'pages/img/skazka.jpg'%}"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'pages/img/atbashy.jpg'%}"/>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <br>
                    <p>Issyk-Kul Lake, or Ysyk-Köl in Kyrgyz, in the north-eastern Tian Shan is the largest lake in
                        Kyrgyzstan and the second largest mountain lake in the world after Titicaca.</p>
                    <br>
                    <div class="slider">
                        <div class="swiper-container mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="{% static 'pages/img/issykkul-lake.jpg'%}"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'pages/img/yssykkol4.jpg'%}"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'pages/img/yssykkol2.jpg'%}"/>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>

                <br>
                <p>Also, there a many other beautiful high-mountain lakes..</p>

                <br>
                <div class="slider">
                    <div class="swiper-container mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{% static 'pages/img/kolukoklake.jpg'%}"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'pages/img/sarychelek.jpg'%}"/>
                            </div>

                            <div class="swiper-slide">
                                <img src="{% static 'pages/img/koltor.jpg'%}"/>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <br>

                <p>... and high-mountain forests</p>

                <br>
                <div class="slider">
                    <div class="swiper-container mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{% static 'pages/img/Arslan.jpg'%}"/>
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static 'pages/img/jeti.jpg'%}"/>
                            </div>

                            <div class="swiper-slide">
                                <img src="{% static 'pages/img/koltor.jpg'%}"/>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <p>Kyrgyzstan is divided into seven regions administered by appointed governors. The capital, Bishkek,
                    and the second largest city Osh are administratively independent cities (shaar) with a status equal
                    to a region.
                    The regions, and independent cities, are as follows:</p>


                <div class="fields">

                    <ul class="fields-of-conf">
                        <li><i class="far fa-circle ico"></i> City of Bishkek</li>
                        <li><i class="far fa-circle ico"></i> Chuy</li>
                        <li><i class="far fa-circle ico"></i> Issyk-Kul</li>
                        <li><i class="far fa-circle ico"></i> Naryn</li>
                        <li><i class="far fa-circle ico"></i> Talas</li>
                        <li><i class="far fa-circle ico"></i> Jalal-Abad</li>
                        <li><i class="far fa-circle ico"></i> City of Osh</li>
                        <li><i class="far fa-circle ico"></i> Batken</li>

                    </ul>
                </div>
                <br>
                <p>Each region comprises a number of districts, administered by government-appointed officials. Rural
                    communities, consisting of up to 20 small settlements, have their own elected mayors and
                    councils.</p>

                <p>More information about Kyrgyzstan can be found <a class="link"
                                                                     href="http://www.discoverkyrgyzstan.org/">here</a>
                </p>
            </div>


        </div>


    </div>


    </div>
    </div>
</main>
{% include 'pages/includes/footer.html' %}

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'pages/js/index.js' %}"></script>
</body>
</html>