{% load static %}
<html>

<head>
    {% include 'pages/includes/links.html' %}
    <title>Conference Site</title>
</head>
<body>
{% include 'pages/includes/menubar.html' %}
<div class="home_content">
    {% include 'pages/includes/header.html' %}
    <main>
        <div class="main">
            <div class="container">
                <div class="main-info">
                    <h2> Organizing Committee</h2>
                    <h2>Honorary Chairmen: </h2>
                    <ul class="events">
                        <li><i class="fas fa-user-graduate ico"></i> <span
                                class="important">Prof. Dr. CEYLAN A.  </span>- Rector of Kyrgyz-Turkish Manas
                            University
                        </li>
                        <li><i class="fas fa-user-graduate ico"></i> <span
                                class="important">Prof. Dr. KULMYRZAYEV A.  </span>- Co-Rector of Kyrgyz-Turkish Manas
                            University
                        </li>
                        <li><i class="fas fa-user-graduate ico"></i> <span
                                class="important">Prof. Dr. ÇOMAKLI  Ö.  </span>- Rector of Atatürk University
                        </li>
                        <li><i class="fas fa-user-graduate ico"></i> <span
                                class="important">Prof. Dr. ÇAMSARI A  </span>- Rector of Mersin University
                        </li>
                        <li><i class="fas fa-user-graduate ico"></i> <span class="important">Acad. Prof. Dr.  SAMOILENKO A. M.   </span>-Director
                            of theMathematicsInstitute of NAS of Ukraine
                        </li>

                    </ul>
                    <h2>Chairman: </h2>
                    <ul class="events">
                        <li><i class="fas fa-user-graduate ico"></i> <span class="important">ABDULLAYEV F.G.  </span>(Kyrgyz-Turkish
                            Manas University, Kyrgyzstan, Mersin University, Turkey)
                        </li>
                        <li><i class="fas fa-user-graduate ico"></i> <span class="important">KOPUZLU A.  </span>-
                            (Atatürk University, Turkey)
                        </li>
                    </ul>
                    <h2>Vise-Chairmen: </h2>
                    <ul class="events">
                        <li><i class="fas fa-user-graduate ico"></i> <span class="important">Cengiz N. </span>(Head of
                            Dep. ofMathematics of Atatürk University)
                        </li>
                        <li><i class="fas fa-user-graduate ico"></i> <span class="important">Kamali M.  </span>(Dep. of
                            Mathematics of Kyrgyz-Turkish Manas University)
                        </li>
                        <li><i class="fas fa-user-graduate ico"></i> <span class="important">Romanyuk A. S.  </span>((Head
                            of Dep. IM NAS of Ukraine)
                        </li>
                        <li><i class="fas fa-user-graduate ico"></i> <span class="important">Shevchuk I. O.  </span>(Head
                            of Dep. NationalShevchenkoUniversity of Kyiv, Ukraine)
                        </li>

                    </ul>

                </div>

                <div class="fields">
                    <h2>International Scientific Committee:</h2>
                    <ul class="fields-of-conf">
                        <li><i class="far fa-circle ico"></i> Aasma A. (Tallinn University of Technology, Estonia)</li>
                        <li><i class="far fa-circle ico"></i> Abbas M. (University of Pretoria, South Afrika)</li>
                        <li><i class="far fa-circle ico"></i> Amirov R. (Cumhuriyet University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Andrievskii V.V. (Kent StateUniversity, USA)</li>
                        <li><i class="far fa-circle ico"></i> Aripov M. (National University of Uzbekistan)</li>
                        <li><i class="far fa-circle ico"></i> Aslanov H. (Institute of MathematicsandMechanics NAS of
                            Azerbaijan )
                        </li>
                        <li><i class="far fa-circle ico"></i> Avkhadiev F. (Kazan Federal University, Tatarstan, Russia)
                        </li>
                        <li><i class="far fa-circle ico"></i> Azamov A. (Head of the Mathematical Society of Uzbekistan)
                        </li>
                        <li><i class="far fa-circle ico"></i> Banakh T. (IvanFrankoNationalUniversity of Lviv, Ukraine)
                        </li>
                        <li><i class="far fa-circle ico"></i> Bayraktar M. (TOBB University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Bilalov B. (Institute of Mathematics and Mechanics NAS of
                            Azerbaijan)
                        </li>
                        <li><i class="far fa-circle ico"></i> Blatt H.P. (Katholische UniversitätEichstatt Germany)</li>
                        <li><i class="far fa-circle ico"></i> Borubaev A. ( National AS of Kyrgyzstan)</li>
                        <li><i class="far fa-circle ico"></i> Buslaev V.(Steklov Mathematical Institute NAS of Russia)
                        </li>
                        <li><i class="far fa-circle ico"></i> Celebi O. (Yeditepe Üniversity, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Chubarikov V.N. (MoskowStateUniversity, Russia)</li>
                        <li><i class="far fa-circle ico"></i> Daulbaev M. (Kazak University, Kazakstan)</li>
                        <li><i class="far fa-circle ico"></i> Delgado J.M. (Universidad de Jaen, Spain)</li>
                        <li><i class="far fa-circle ico"></i> Deniz E. (Kafkas University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Farkov Y. A. (Russian StateGeol. Univ., Russian)</li>
                        <li><i class="far fa-circle ico"></i> Gauthier P. (University de Montreal, Canada)</li>
                        <li><i class="far fa-circle ico"></i> Goginava U. (Tbilisi State University, Georgia)</li>
                        <li><i class="far fa-circle ico"></i> Golberg A. (HIT HolonInstitute of Technology, Israel)</li>
                        <li><i class="far fa-circle ico"></i> Guliyev V. (Institute of Mathematics and Mechanics NAS
                            Azerbaijan)
                        </li>
                        <li><i class="far fa-circle ico"></i> Ilolov M. (Academy of Science of Tajikistan)</li>
                        <li><i class="far fa-circle ico"></i> Ismailov V. (Institute of Mathematics and Mechanics NAS
                            Azerbaijan)
                        </li>
                        <li><i class="far fa-circle ico"></i> Karakaya V. (Ahi Evren University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Karandjulov L. (Bulgaria)</li>
                        <li><i class="far fa-circle ico"></i> Kerimov N.B. (Hazar University, Azerbaijan)</li>
                        <li><i class="far fa-circle ico"></i> Kocinac L. (University of Niš, Serbia)</li>
                        <li><i class="far fa-circle ico"></i> Kopotun K. (University of Manitoba, Canada)</li>
                        <li><i class="far fa-circle ico"></i>Kunyang W. (Beijing Normal University, China)</li>
                        <li><i class="far fa-circle ico"></i> Leviatan D. (Tel Aviv University, Israel)</li>
                        <li><i class="far fa-circle ico"></i> Mahmudov N. ( North Med. University, North Cyprus)</li>
                        <li><i class="far fa-circle ico"></i> Mardanov M. (Institute of MathematicsandMechanics NAS
                            Azerbaijan)
                        </li>
                        <li><i class="far fa-circle ico"></i> Marinets V.V. (UzhhorodNationalUniversity, Uzhhorod,
                            Ukraine)
                        </li>
                        <li><i class="far fa-circle ico"></i> Özdemir M. (Atatürk University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Petryshyn R.I. (Yuriy Fedkovych Chernivtsi National
                            University, Ukraine)
                        </li>
                        <li><i class="far fa-circle ico"></i> Recke L. (Humboldt-Universitätzu Berlin, Germany)
                        <li>
                        <li><i class="far fa-circle ico"></i> Rontó A. (Institute of Mathematics AS CR, CzechRepublic )
                        </li>
                        <li><i class="far fa-circle ico"></i> Ronto M. (Institute of Mathematics, University of Miskolc,
                            Hungary)
                        </li>
                        <li><i class="far fa-circle ico"></i> Shabozov M. (Institute of Mathematics, Tadjikistan)</li>
                        <li><i class="far fa-circle ico"></i> Shapiro M. (InstitutoPolitecnicoNacional, Mexico)</li>
                        <li><i class="far fa-circle ico"></i> Shoikhet D. (HIT HolonInstitute of Technology, Israel)
                        </li>
                        <li><i class="far fa-circle ico"></i> Skopina M. (Saint Petersburg StateUniversity, Russia)</li>
                        <li><i class="far fa-circle ico"></i> Softova L. (Second University of Naples, Italy)</li>
                        <li><i class="far fa-circle ico"></i> Starovoytov A. (GomelStateUniversity, Belarus)</li>
                        <li><i class="far fa-circle ico"></i> Şerbetci A.(Ankara University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Temirgaliyev N. (L.N.Gumilyov Eurasian National
                            University, Kazakstan)
                        </li>
                        <li><i class="far fa-circle ico"></i> Trofimchuk S. I. (Institute of Mathematics and Physics
                            University of Talca, Chile)
                        </li>
                        <li><i class="far fa-circle ico"></i> Vuorinen M. (University of Turku, Finland)</li>
                        <li><i class="far fa-circle ico"></i> Zajaç J. (TheState School of HigherEducation in Chelm,
                            Poland)
                        </li>


                    </ul>
                </div>

                <div class="fields">
                    <h2>International Organizing Committee:</h2>
                    <ul class="fields-of-conf">
                        <li><i class="far fa-circle ico"></i> Antoniouk A. (Institute of Mathematics NAS of Ukraine)
                        </li>
                        <li><i class="far fa-circle ico"></i> Asanov A. (Kyrgyz-Turkish Manas University, Kyrgyzstan )
                        </li>
                        <li><i class="far fa-circle ico"></i> Ayupov Sh. (Institute of Mathematics and Information
                            Technologies, Uzbekistan)
                        </li>
                        <li><i class="far fa-circle ico"></i> Boichuk A. (Institute of Mathematics NAS of Ukraine)</li>
                        <li><i class="far fa-circle ico"></i> Chekeev A. (Kyrgyz National University)</li>
                        <li><i class="far fa-circle ico"></i> Çelik E. (Atatürk University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Değer U. (Mersin University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Iskandarov S. (Institute of Theor. and Applied Math NAS of
                            Kyrgyzstan )
                        </li>
                        <li><i class="far fa-circle ico"></i> Kadıoğlu E. (Atatürk University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Küçük A.(Atatürk University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Küçükaslan M. (Mersin University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Makarov V.L (Institute of Mathematics NAS of Ukraine)</li>
                        <li><i class="far fa-circle ico"></i> Orhan H. (Atatürk University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Perestyuk M.O. (NationalShevchenkoUniversity of Kyiv,
                            Ukraine)
                        </li>
                        <li><i class="far fa-circle ico"></i> Reşidoğlu Kh. (Mersin University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Savaş E. (UşakUniversity, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Savchuk V.(Institute of Mathematics NAS of Ukraine)</li>
                        <li><i class="far fa-circle ico"></i>Serdyuk A.S.(Institute of Mathematics NAS of Ukraine)</li>
                        <li><i class="far fa-circle ico"></i> Subaşı M. (Atatürk University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Shidlich A. (Institute of Mathematics NAS of Ukraine)</li>
                        <li><i class="far fa-circle ico"></i>Stanzhitskii O. M.(NationalShevchenkoUniversity of Kyiv,
                            Ukraine)
                        </li>
                        <li><i class="far fa-circle ico"></i> Şimşek D. (Konya Teknik University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Tunç T.(Mersin University, Turkey)</li>
                        <li><i class="far fa-circle ico"></i> Yaşar E. (Mersin University, Turkey)</li>


                    </ul>
                </div>
                <div class="main-info local">
                    <h2>Local Organizing Committee</h2>
                    <h2>Chairmen of Local Organizing Committee:</h2>

                    <ul class="events">
                        <li><i class="fas fa-user-graduate ico"></i> <span
                                class="important">Prof. Dr. OMURALIYEV  A.  </span>- Head of Dep. of Appl. Math. And
                            Infor. (Manas University)
                        </li>
                        <li><i class="fas fa-user-graduate ico"></i> <span
                                class="important">Prof. Dr. URDALETOVA A.  </span>- - Head of Dep. of Mathematics.
                            (Manas University)
                        </li>

                    </ul>

                </div>
                <div class="main-info local">
                    <h2> Local Organizing Committee:</h2>

                    <ul class="events">
                        <li><i class="fas fa-user-graduate ico"></i>Abdyldayeva E.</li>
                        <li><i class="fas fa-user-graduate ico"></i>Adanbayeva N.</li>
                        <li><i class="fas fa-user-graduate ico"></i> Akmatbekova A.</li>
                        <li><i class="fas fa-user-graduate ico"></i> Altıntaş I.</li>
                        <li><i class="fas fa-user-graduate ico"></i> Imash Kyzy M.</li>
                        <li><i class="fas fa-user-graduate ico"></i> Ismailova R.</li>
                        <li><i class="fas fa-user-graduate ico"></i> Karasheva T.</li>
                        <li><i class="fas fa-user-graduate ico"></i> Matanova K.</li>
                        <li><i class="fas fa-user-graduate ico"></i> Muhametjanova G</li>


                    </ul>

                </div>

                <div class="main-info local">
                    <h2> Secretaries of Conference:</h2>

                    <ul class="events">
                        <li><i class="fas fa-user-graduate ico"></i>Abylayeva E.</li>
                        <li><i class="fas fa-user-graduate ico"></i>Esengul kyzy P.</li>
                    </ul>
                </div>

            </div>
        </div>
    </main>

    {% include 'pages/includes/footer.html' %}
</div>


<script src="{% static 'pages/js/all.js' %}"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'pages/js/index.js'%}"></script>
</body>
</html>
