<html lang="en">
<head>
    {% include 'pages/includes/links.html' %}
    <title>Conference Site</title>
</head>
<body>
{% include 'pages/includes/menubar.html' %}
<div class="home_content">
    {% include 'pages/includes/header.html' %}
    <main>
        <div class="main">
            <div class="container">
                <div class="main-info">
                    <h2> History</h2>
                    <p>This is the ninth Kyrgyz-Turkish-Ukrainian international scientific conference in the field of
                        mathematical analysis, differential equations and their applications.</p>
                    <ul class="events">
                        <li><i class="far fa-square ico"></i> The first conference was held in <span class="important">August 26-30, 2003 </span>in
                            National Juriy Fedkovich University of Chernivtsi (Chernivtsi, Ukraine)
                        </li>
                        <li><i class="far fa-square ico"></i> The second was held in <span class="important">September 07-11, 2004</span>
                            in Mersin University (Mersin, Turkey)
                        </li>
                        <li><i class="far fa-square ico"></i> The third was held in <span class="important">September 18-23, 2006</span>
                            in Uzhgorod National University (Uzhgorod, Ukraine)
                        </li>
                        <li><i class="far fa-square ico"></i> The fourth was held in <span class="important">September 12-15, 2008</span>
                            at Eastern Mediterranean University (Famagusta, North Cyprus).
                        </li>
                        <li><i class="far fa-square ico"></i> The fifth was held in <span class="important">September 15-20, 2010</span>
                            at Sunny Beach, Bulgaria.
                        </li>
                        <li><i class="far fa-square ico"></i> The sixth was held in <span class="important">September 04-09, 2012</span>
                            in Mersin University (Mersin, Turkey)
                        </li>
                        <li><i class="far fa-square ico"></i> The seventh was held in <span class="important">September 08-13, 2015</span>
                            in Institute of Mathematics and Mechanics NAS of Azerbaijan (Baku, Azerbaijan)
                        </li>
                        <li><i class="far fa-square ico"></i> The eighth was held in <span class="important">June 17-23, 2018</span>
                            at the Kyrgyz-Turkish University "Manas" (Bishkek, Kyrgyz Republic).
                        </li>
                    </ul>

                </div>


                <br>
            </div>
        </div>
    </main>
{% include 'pages/includes/footer.html' %}
</div>


<script src="../js/all.js"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>
